<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <group id="DwarfGroup" title="@Strings.DwarfGroupTitle">
        <setting propertyKey="@Properties.DwarfClass" title="@Strings.DwarfClassTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.DwarfClassDriller</listEntry>
                <listEntry value="1">@Strings.DwarfClassEngineer</listEntry>
                <listEntry value="2">@Strings.DwarfClassGunner</listEntry>
                <listEntry value="3">@Strings.DwarfClassScout</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.UseClassIcon" title="@Strings.UseClassIconTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.CustomDwarfName" title="@Strings.CustomDwarfNameTitle" prompt="@Strings.CustomDwarfNamePrompt">
            <settingConfig type="alphaNumeric" />
        </setting>
    </group>

    <group id="TimeGroup" title="@Strings.TimeGroupTitle">
        <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.HoxxesTimeSuffix" title="@Strings.HoxxesTimeTitle">
            <settingConfig type="boolean" />
        </setting>
    </group>

</settings>
